th {
  background-color: #353436;
  color: #e0e0e0;
  height: 48px;
  padding-left: 20px;
}

.thleft {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.tr {
  height: 48px;
  background: #4b4a4c;
  border: 1px solid #58595b;
}

.tr:hover {
  background-color: #414042;
  cursor: pointer;
}

.td {
  padding-left: 20px;
}

.active {
  color: #e5390d;
}
